/* styles.css */

body {
    background-color: white;
}

.lotto-result {
    margin-bottom: 20px;
}

.draw-date {
    display: block;
}

.number-ball {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}
