body {
    background-color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 20px;
}

.tablink {
    flex: 1;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.tablink:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
}

.lottery-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.lottery-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}


.lotto-result, .eurojackpot-result {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 0 0 calc(50% - 20px);
    display: flex;
    justify-content: space-between;
}

.draw-date {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.lottery-info {
    margin-bottom: 10px;
}

.lottery-balls {
    display: flex;
    align-items: center;
}

.lottery-numbers {
    margin-left: auto;
    display: flex;
    justify-content: right;
}

.number-ball {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.special-number-ball {
    background-color: yellow;
    color: black;
}

.number-ball::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #888;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#showMore {
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showMore:hover {
    background-color: #ddd;
}